/* patient.css */

body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #F0F0F0;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    background-color: #394A6D; /* Adjust to match the color from the screenshot */
    padding: 20px;
    width: 250px; /* Adjust based on your preference */
    box-sizing: border-box;
}

.logo img {
    width: 60%;
    margin-bottom: 30px;
    margin-left: 40px;
}

.menu-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}

.menu-item img {
    margin-right: 10px;
}

.menu-item span {
    font-size: 18px; /* Adjust as needed */
}

.menu-item.patient, .menu-item.doctor {
    background-color: #394A6D; /* Общий фон для неактивных ссылок */
}

.menu-item.registry {
    background-color: #394A6D; /* Same as sidebar for the doctor link */
}

.menu-item.home {
    background-color: #394A6D; /* Same as sidebar for the doctor link */
}

.menu-item.patient:hover, .menu-item.doctor:hover, .menu-item.registry:hover, .menu-item.home:hover {
    background-color: #506EA9; /* Изменение фона при наведении */
}

.menu-item.active {
    background-color: #506EA9; /* Фон для активного элемента меню */
}

.home {
    margin-top: 500px;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    margin-top: 20px;
    box-sizing: border-box;
}

.header {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex; /* Для горизонтального выравнивания элементов */
    align-items: center; /* Центрирование элементов по вертикали */
    justify-content: space-between; /* Распределение элементов с пространством между ними */
}

.patient-info {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex; /* Для горизонтального выравнивания элементов */
    align-items: center; /* Центрирование элементов по вертикали */
    justify-content: space-between; /* Распределение элементов с пространством между ними */
}

.header .search {
    display: flex; /* Группировка поля ввода и кнопок */
    align-items: center; /* Центрирование элементов по вертикали */
}

.header .search input[type="text"] {
    padding: 5px;
    margin-right: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex-grow: 1; /* Поле ввода занимает все доступное пространство */
}

.header .search button {
    padding: 5px 15px;
    margin-left: 10px;
    background-color: #506EA9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.35s ease;
}

.header .search button:hover {
    background-color: #395185;
}

/* Стили для отображения результатов поиска */
.search-results {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    /* Дополнительные стили для контента, если необходимо */
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.diagnosisMedicationForm {
    background-color: white;
    padding: 20px;
    margin: 20px auto;
    width: 50%; /* Или другой подходящий размер */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

.diagnosisMedicationForm label {
    display: block;
    margin: 10px 0 5px;
    color: #333;
    font-size: 16px;
}

.diagnosisMedicationForm input[type="text"] {
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80%; /* Или другой подходящий размер */
}

.diagnosisMedicationForm button {
    background-color: #506EA9;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.35s ease;
}

.diagnosisMedicationForm button:hover {
    background-color: #394A6D;
}

#saveButton, #cancelDiagnosisButton {
    width: 45%; /* Размеры кнопок */
}

