/* patient.css */

body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #F0F0F0;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    background-color: #394A6D; /* Adjust to match the color from the screenshot */
    padding: 20px;
    width: 250px; /* Adjust based on your preference */
    box-sizing: border-box;
}

.logo img {
    width: 60%;
    margin-bottom: 30px;
    margin-left: 40px;
}

.menu-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}

.menu-item img {
    margin-right: 10px;
}

.menu-item span {
    font-size: 18px; /* Adjust as needed */
}

.menu-item.patient {
    background-color: #506EA9; /* Lighter shade for the patient link */
}

.menu-item.doctor {
    background-color: #394A6D; /* Same as sidebar for the doctor link */
}

.menu-item.registry {
    background-color: #394A6D; /* Same as sidebar for the doctor link */
}

.menu-item.home {
    background-color: #394A6D; /* Same as sidebar for the doctor link */
}

.menu-item.patient:hover, .menu-item.doctor:hover, .menu-item.registry:hover, .menu-item.home:hover {
    background-color: #506EA9; /* Изменение фона при наведении */
}

.home {
    margin-top: 500px;
}



.main-content {
    flex-grow: 1;
    padding: 20px;
    box-sizing: border-box;
    background-color: #F0F0F0; /* Match the background color to your design */
}

.sidebar-patient-form {
    background-color: white;
    padding: 20px;
    margin-top: 20px; /* Adjust as needed */
    border-radius: 5px; /* Adjust as needed */
    box-shadow: 0 0 10px rgba(0,0,0,0.1); /* This adds a subtle shadow */
}

.policyNumber {
    padding-right: 20px;
}

input[type="text"] {
    padding: 5px;
    margin-right: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex-grow: 1; /* Поле ввода занимает все доступное пространство */
}

#medical-form {
    background-color: white;
    padding: 20px;
    margin-top: 20px; /* Adjust as needed */
    border-radius: 5px; /* Adjust as needed */
    box-shadow: 0 0 10px rgba(0,0,0,0.1); /* This adds a subtle shadow */
}

.question {
    margin-bottom: 15px;
}

.question label {
    display: block;
    margin-bottom: 10px;
    color: #333; /* Adjust the color as needed */
    font-size: 16px; /* Adjust the font size as needed */
}

.button.active, .question button.active {
    background-color: #4CAF50; /* Зеленый цвет для активной кнопки */
    color: white;
}

.question button {
    background-color: #506EA9; /* Button color */
    color: white;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Changes the mouse pointer on hover */
    transition: background-color 0.35s ease; /* Smooth transition for hover effect */
}

.question button:hover {
    background-color: #394A6D;
}

.submit {
    background-color: #506EA9; /* Button color */
    color: white;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    margin-top: 20px;
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Changes the mouse pointer on hover */
    transition: background-color 0.35s ease; /* Smooth transition for hover effect */
}

.submit:hover {
    background-color: #394A6D;
}
/* Additional styles for responsive design, hover effects, and active states */
